/* #region DART VARIATION */
.radiobutton-dart {
  display: block;
  position: relative;
  float: left;
  height: calc(((var(--radiobutton-size) / 5) * 2) + var(--radiobutton-size));
  cursor: pointer;
  margin: var(--radiobutton-margin);
  padding: var(--radiobutton-padding);
  user-select: none;
}

.radiobutton-dart p {
  color: var(--radiobutton-label-color);
  display: block;
  position: relative;
  font-weight: 300;

  /*
    font-size: 1.35em;
  */
  font-size: calc(var(--radiobutton-size) + 0px);

  /* 40% of --radiobutton-size */
  --xtra-padding: calc(var(--radiobutton-size) * (1 - 0.4));

  /* padding left: to move paragrapg to the right side of the button */
  --padding-left: calc(((var(--radiobutton-size) / 5) * 2) + var(--radiobutton-size));

  padding-left: calc(var(--padding-left) + var(--xtra-padding));

  /* when button size is 25px
  margin: calc(var(--radiobutton-size) * (1 - 0.8)) auto;
  */
  margin: 0;
  margin-top: 4px;
  transition: filter 0.25s linear;
}

.radiobutton-dart input {
  position: absolute;
  visibility: hidden;
}

.radiobutton-dart input:checked ~ p {
  color: var(--radiobutton-label-c-color);
}

.radiobutton-dart:hover input:not(:checked) ~ p {
  filter: brightness(var(--radiobutton-hover-brightness));
}

.radiobutton-dart .radiobutton-dart-check {
  display: block;
  position: absolute;
  border-color: var(--radiobutton-circle-color);
  border-style: solid;

  /* border-width: 5px; */
  border-width: calc(var(--radiobutton-size) / 5);
  border-radius: 100%;
  height: var(--radiobutton-size);
  width: var(--radiobutton-size);
  top: 0;
  left: 0;
  transition: filter 0.25s linear;
}

.radiobutton-dart input:checked ~ .radiobutton-dart-check {
  border-width: calc(var(--radiobutton-size) / 5);
  border-style: solid;
  border-color: var(--radiobutton-circle-c-color);
}

.radiobutton-dart:hover input:not(:checked) ~ .radiobutton-dart-check {
  filter: brightness(var(--radiobutton-hover-brightness));
}

.radiobutton-dart .radiobutton-dart-check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;

  /* if --radiobutton-size is 25
  height: 15px;
  width: 15px;
  */
  height: calc(var(--radiobutton-size) * (1 - 0.4));
  width: calc(var(--radiobutton-size) * (1 - 0.4));

  /* if --radiobutton-size is 25
  top: 5px;
  left: 5px;
  */
  top: calc(var(--radiobutton-size) / 5);
  left: calc(var(--radiobutton-size) / 5);
  margin: auto;
  transition: background 0.25s linear;
}

.radiobutton-dart input:checked ~ .radiobutton-dart-check::before {
  background-color: var(--radiobutton-dot-c-color);
}

/* #endregion */

/* #region SHUTTER VARIATION */
.radiobutton-shutter {
  display: flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: var(--radiobutton-margin);
  padding: var(--radiobutton-padding);
  user-select: none;
}

.radiobutton-shutter input {
  position: absolute;
  visibility: hidden;
}

.radiobutton-shutter .radiobutton-shutter-check {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 99em;
  transition: 0.25s ease;
  color: var(--radiobutton-label-color);
  font-family: var(--radiobutton-fontfamily);
}

.radiobutton-shutter .radiobutton-shutter-check:hover {
  background-color: var(--radiobutton-hover-background);
}

.radiobutton-shutter input:checked + .radiobutton-shutter-check {
  background-color: var(--radiobutton-hover-background);
  color: var(--radiobutton-label-c-color);
}

.radiobutton-shutter .radiobutton-shutter-check::before {
  content: '';
  display: flex;
  flex-shrink: 0;
  background-color: var(--radiobutton-dot-color);
  width: var(--radiobutton-size);
  height: var(--radiobutton-size);
  margin-right: calc(var(--radiobutton-size) / 4);
  border-radius: 50%;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 calc(var(--radiobutton-size) / 12.5) var(--radiobutton-circle-color);
}

.radiobutton-shutter input:checked + .radiobutton-shutter-check::before {
  box-shadow: inset 0 0 0 calc(var(--radiobutton-size) / 2.5) var(--radiobutton-circle-c-color);
  background-color: var(--radiobutton-dot-c-color);
}

/* #endregion */
